[MASTER]

extension-pkg-whitelist=spidev

load-plugins=pylint.extensions.check_elif,
             pylint.extensions.comparison_placement,
             pylint.extensions.confusing_elif,
             pylint.extensions.consider_ternary_expression,
             pylint.extensions.eq_without_hash,
             pylint.extensions.for_any_all,
             pylint.extensions.mccabe,
             pylint.extensions.no_self_use,
             pylint.extensions.overlapping_exceptions,
             pylint.extensions.private_import,
             pylint.extensions.redefined_loop_name,
             pylint.extensions.redefined_variable_type,
             pylint.extensions.set_membership,
             pylint.extensions.typing

[MESSAGES CONTROL]

disable=missing-class-docstring,
        missing-function-docstring,
        missing-module-docstring
