[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cc1101 = {editable = true, path = "."}
# > $ cat /etc/issue
# > Raspbian GNU/Linux 10 \n \l
# > $ dpkg --status python3-spidev | grep Version
# > Version: 20190221~182651-1
# > $ python3 -c 'import spidev; print(spidev.__version__)'
# > 3.4
# https://pypi.org/project/spidev/3.4/
spidev = "==3.4"

[dev-packages]
black = "*"
# >=0.1.1 for https://github.com/blu3r4y/blinkcheck/pull/2
blinkcheck = {version = ">=0.1.1", markers = "python_version >= '3.8'"}
mypy = "*"
pylint = "*"
pylint-import-requirements = "*"
pytest = "*"
pytest-cov = "*"

# python3.10 compatibility
# >   File "[...]/lib/python3.10/site-packages/mypy/main.py", line 11, in <module>
# >     from typing_extensions import Final, NoReturn
# > ModuleNotFoundError: No module named 'typing_extensions'
typing-extensions = {markers = ""}
# python<3.11 compatibility
# >    File "[...]/lib/python3.10/site-packages/_pytest/_code/code.py", line 60, in <module>
# >     from exceptiongroup import BaseExceptionGroup
# > ModuleNotFoundError: No module named 'exceptiongroup'
exceptiongroup = {markers = "python_version < '3.11'"}
# >   File "[...]/lib/python3.10/site-packages/_pytest/config/findpaths.py", line 71, in load_config_dict_from_file
# >     import tomli as tomllib
# > ModuleNotFoundError: No module named 'tomli'
tomli = {markers = "python_version < '3.11'"}
# >   File "[...]/lib/python3.10/site-packages/astroid/decorators.py", line 16, in <module>
# >     import wrapt
# > ModuleNotFoundError: No module named 'wrapt'
wrapt = "*"
# remove `"markers": "python_version >= '3.11'"` to workaround:
# >   File "[...]/lib/python3.7/site-packages/pylint/lint/parallel.py", line 13, in <module>
# >     import dill
# > ModuleNotFoundError: No module named 'dill'
dill = {markers = "python_version >= '0'"}

[requires]
python_version = "3"

# Pipfile syntax: https://github.com/pypa/pipfile#pipfile
