[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cc1101 = {editable = true,path = "."}
# > $ cat /etc/issue
# > Raspbian GNU/Linux 10 \n \l
# > $ dpkg --status python3-spidev | grep Version
# > Version: 20190221~182651-1
# > $ python3 -c 'import spidev; print(spidev.__version__)'
# > 3.4
# https://pypi.org/project/spidev/3.4/
spidev = {version = "3.4"}

[dev-packages]
# black requires python>=3.6
# https://github.com/psf/black/commit/e74117f172e29e8a980e2c9de929ad50d3769150#diff-2eeaed663bd0d25b7e608891384b7298R51
black = {version = "==20.8b1", markers = "python_version >= '3.6'"}
mypy = "*"
pylint = "*"
pylint-import-requirements = "*"
#pytest = "*"
pytest-cov = "*"

# python3.5 compatibility
# https://github.com/python/importlib_metadata/commit/107f9029fd5807c6579b881db19e11a0488f0675
importlib-metadata = "<3"
isort = "<5"
# workaround https://github.com/pytest-dev/pytest/issues/3953
pathlib2 = {version = "*", markers="python_version < '3.6'"}
# https://github.com/pytest-dev/pytest/commit/179f4326df2b644f0ab73f78e4770dafcbdcd89f#diff-fa602a8a75dc9dcc92261bac5f533c2a85e34fcceaff63b3a3a81d9acde2fc52R52
pytest = "<6.2"
# https://github.com/jaraco/zipp/commit/05a3c52b4d41690e0471a2e283cffb500dc0329a
zipp = "<2"

[requires]
python_version = "3"

# Pipfile syntax: https://github.com/pypa/pipfile#pipfile
