[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cc1101 = {editable = true,path = "."}
# > $ cat /etc/issue
# > Raspbian GNU/Linux 10 \n \l
# > $ dpkg --status python3-spidev | grep Version
# > Version: 20190221~182651-1
# > $ python3 -c 'import spidev; print(spidev.__version__)'
# > 3.4
# https://pypi.org/project/spidev/3.4/
spidev = "==3.4"

[dev-packages]
black = "*"
# >=0.1.1 for https://github.com/blu3r4y/blinkcheck/pull/2
blinkcheck = {version = ">=0.1.1", markers = "python_version >= '3.8'"}
mypy = "*"
pylint = "*"
pylint-import-requirements = "*"
pytest = "*"
pytest-cov = "*"

# python3.10 compatibility
# >   File "[...]/lib/python3.10/site-packages/mypy/main.py", line 11, in <module>
# >     from typing_extensions import Final, NoReturn
# > ModuleNotFoundError: No module named 'typing_extensions'
typing_extensions = {version = "*", markers = ""}
# mypy on python<3.8
typed-ast = {markers = "python_version < '3.8'"}

[requires]
python_version = "3"

# Pipfile syntax: https://github.com/pypa/pipfile#pipfile
